<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.mdsd.org/LoreScript"
			class = "org.mdsd.loreScript.LoreScriptPackage"
			genModel = "model/generated/LoreScript.genmodel" />
	</extension>
</plugin>
